* {
    margin: 0%;
    max-height: 100%;
    max-width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: white;
}

.navbar {
    padding-left: 5%;
    color: orange;
    font-weight: bold;
    display: flexbox;
    position: absolute;
}

.navbar h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

button {
    background-color: orange;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    
}
button:hover, button:focus {color: #006633; font-weight: bold; text-decoration: double; background-color:white;} /*Green*/

.intro {
    margin-top: 20px;
    color: black;
    font-weight: bold;
}
img {
    height: 400px;
    width: 100%;
}
header {
    text-align: center;
    height: 150px;
    padding-left: 5%;
    padding-right: 5%;
}

section {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    height: 500px;
    justify-content: space-between;

}

.content {
    float: left;
    font-size: 20px;
    max-width: 800px;
    padding-block-end: 5%;
}

table, th, td {
    margin-top: 30px;
    border: 5px solid black;  
    border-collapse: collapse;
    width: 600px;
    font-size: 20px;
      
}

aside {
    background-color: orange;
    border-color: black;
    border-width: thick;
    border-style: solid;
    font-size: 20px;
    width: 50%
}

.aside, h2 {
    text-align: center;
}

.aside, ol {
    list-style-position: inside;
    font-size: 20px;
    margin-bottom: 20px;
    
}


.information {
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    display: flexbox;
    padding-left: 5%;
    padding-right: 5%;
    height: 500px;

}

.information ul {
    margin-top: 20px;
    text-align: left;
    margin-left: -1.5%;
}

form {
    padding-left: 40%;
    padding-right: 40%;
    display: grid;
    align-items: center;
    width: 20%;
}
textarea {
   resize: none;
 }









